@charset "utf-8";
body { 
  background: #3f3f3f;
}
#upperSmallNav a {
  color: #000;
}
div#headerWrap ul > li > a {
  color: #000;
}
#faqWrap_hj {
  width: 100%;
  max-width: 70%;
  height: 100%;
  position: relative;
  top: 150px; 
  margin: 0 auto;
  padding-bottom: 25vh; 
}
#faqHeaderWrap_hj { 
  padding: 50px;
}
#faqHeaderWrap_hj h2 {
  width: 35%;
  font-size: 40px;
  border-bottom: 2px solid #31ffe7;
  color: #76ffef;
  text-shadow: 0px 0px 20px #31ffe7;
}
ul.faqUl_hj {
  width: 100%;
  padding: 30px 50px;
  background: #bfedff;
  text-indent: 20px;
  animation: lightening 1s alternate infinite; 
}
li.group_hj {
  margin: 10px 0;
}
div.question_hj { 
  position: relative;
  height: 70px;
  line-height: 70px;
  background: #2e5677;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
div.question_hj span { 
  position: absolute;
  transition: all 0.5s;
  background: #f4aaff;
}

div.question_hj span:nth-child(1) {
  top: -1px;
  left: -1px;
  width: 0;
  height: 3px;
}
div.question_hj:hover span:nth-child(1) {
  width: 100.1%;
}
div.question_hj span:nth-child(2) {
  top: 0;
  right: -1px;
  width: 3px;
  height: 0; 
}
div.question_hj:hover span:nth-child(2) {
  height: 101%; 
}
div.question_hj span:nth-child(3) {
  bottom: -1px;
  right: -1px;
  width: 0;
  height: 3px;
}
div.question_hj:hover span:nth-child(3) {
  width: 100.1%;
}

div.question_hj span:nth-child(4) {
  bottom: 1px;
  left: -1px;;
  width: 3px;
  height: 0;
}
div.question_hj:hover span:nth-child(4) {
  bottom: 0;
  left: -1px;
  width: 3px;
  height: 101%; 
}
ul.sub_hj li { 
  margin-bottom: 2px;
  line-height: 70px;
  border: 1px solid #c8c8c8;
  background: #444444;
  font-size: 18px;
  color: #fff;
  word-wrap:break-word;
}

#counsel_hj {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #d461f7;
  text-align: center;
}

#counsel_hj a {
  line-height: 95px;
  font-weight: bold;
}

@keyframes lightening {
  0% { box-shadow: 0px 0px 25px #35c9ff; }
  100% { box-shadow: 0px 0px 50px #35c9ff; }

}






