@charset "utf-8";


.onX{
    transition:1s;
    transform: scale(1.3);
}
.offX{
    transition:1s;
    transform: scale(1);
}
.footerWrap{
    width: 100%;
    height: 25vh;
    padding-bottom: 25vh;
    position:relative;
   
}
#footer{
    width: 1000px;
    height: 25vh;
    position:absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%);

}
#footer .us{
    width: 380px;
    height: 70px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 32px;
    color:grey;
    font-weight: bold;
    margin: 0 auto;
    font-style: italic;
    text-shadow: 1px 1px 0px black;
    position:relative;
}

#footer .us::before{
    content:"";
    display:block;
    width: 400px;
    height: 100px;
    background-image: url(../sh_images/frame.svg);
    background-repeat: no-repeat;
    background-size: 100% 100px;
    background-position: center;
    position: absolute;
    top:-25px;
    left:-12px

}
#membersWrap{
    width: 450px;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 auto;
    margin-top: 2vh;

}
.member_sh{
    /* width: 70px;
    height: 40px; */

}
.member_sh a{
    width: 70px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    color: gray;
    
}
#membersWrap p.member0_sh a{
    width: 140px;
    height: 40px;
    color:goldenrod;

}
.member1_sh{

}
.member2_sh{

}
.member3_sh{

}
.member4_sh{

}
.member5_sh{
    
}