@charset "UTF-8";

body{
   background-color: #1b2838;
   color : white;
}
body input[type="text"], textarea {
  background-color : #313d4c;
  border : 2px solid white;
  margin : 10px;
  color : white;
}
div#headerWrap.enabled ul > li > a {
  color : white;
}

#upperSmallNav {
  background-color: #354f6f;
}
div#headerWrap.enabled {
  background-color: #313d4c;
  border : 0;
}
div#headerWrap ul > li > a {
  color : white;
}
#myPageProfile div {
  max-width: 1390px;
  width: 100%;
  height: 300px;
  margin: 300px auto 0 auto;
  padding : 40px;
  border : 1px solid white;
  background-color: rgba(0,0,128,0.2);
  border-radius: 30px;
  backdrop-filter: blur(10px);
}
#myPageProfile h2 {
  display : block;
  position : absolute;
  width: 1390px;
  height : 40px;
  left : calc(50% - 695px);
  top : 200px;
  border-bottom: 2px solid white;
  padding-bottom: 60px;
}
#myPageProfile img {
  width : 200px;
  height : 200px;
}
#myPageProfile div {
  display : flex;
  flex-flow: row;
}
#myPageContent, #myPageTab{
  max-width: 1390px;
  width: 100%;
  margin: 30px auto 0 auto;
}
#myPageTab ul {
  margin-top: 30px;
}
#myPageContent {
  padding : 40px;
  border : 1px solid white;
  background-color: rgba(0,0,128,0.2);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  border-style : none;
}
#myPageTab ul {
  display : flex;
  width : 100%;
  justify-content: space-around;
}
#myPageTab ul li {
  width : 100%;
  height : 40px;
  padding-top: 6px;
  border : 1px solid white;
  text-align: center;
}
#myPageTab ul li.active {
  background-color: white;
}
#myPageTab ul li.active a {
  color : black;
}
#myPageTab h2 {
  border-bottom: 2px solid white;
  padding-bottom: 20px;
}
#myPageTab a {
  color : white;
}
#myPageContent {
  border : 1px solid white;
}
#myPageMyInfo,#myPageMyActivity, #myPageFavorite, #myPageBuyList, #myPageMemberOut, #myPageMemberBanned, #myPageAdmin {
  display : none;
}
#myPageAdmin {
  display : block;
}
#myPageMyInfoForm ul li {
  margin : 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
#myPageProfileAttach {
  position: absolute;
  bottom : 30px;
}
/* myPageMyActivity */
#myPageMyActivity a {
  color : white;
}
#myPageMyActivity {
  /* display : flex; */
  flex-flow: row;
}
#myPageMyActivityLeftNavWrap {
  width : 15%;
}
#myPageMyActivityLeftNavWrap ul {
  margin-right: 10px;
}
#myPageMyActivityLeftNavWrap ul li {
  border: 1px solid white;
  height : 80px;
  text-align: center;
  line-height: 75px;
  font-size: 1.5em;
}
#myPageMyActivityLeftNavWrap ul li.enabled {
  background: white;
}
#myPageMyActivityLeftNavWrap ul li.enabled a {
  color : black;
}
#myPageMyActivityContent {
  width : 85%;
}
#myPageMyActivityContent ul {
  min-height: 400px;
  border: 1px solid white;
}
#myPageMyActivityContent ul li{
  border: 1px solid white;
  min-height: 28.8px;
  margin: 10px;
}

#myPageMyActivityMoreBtn {
  position: absolute;
  bottom : 7px;
  display : block;
  width: 60px;
  height : 20px;
  left : calc(50% - 30px);
  background-color: black;
  border: 1px solid white;
  text-align: center;
  padding-bottom: 25px;
}
/* myPageFavorite */
#myPageFavorite ul {
  max-height: 450px;
  border: 1px solid white;
  overflow-y: scroll;
}
#myPageFavorite ul li{
  border: 1px solid white;
  min-height: 50px;
  margin: 10px;
}
/* myPageBuyList */
#myPageBuyList a{
  color : white;
}
#myPageBuyListInnerWrap {
  display : flex;
  flex-flow: column;
}
#myPageBuyListInnerWrap ul {
  display : flex;
  flex-flow: row;
  width : 100%;
  justify-content: space-around;
  border-bottom: 1px solid white;
}
#myPageBuyListHeader {
  font-size: 1.3em;
  padding-bottom: 20px;
}
#myPageBuyListInnerWrap ul:not(#myPageBuyListHeader) {
  height : 100px;
  padding-top: 40px;
}
#myPageBuyListInnerWrap ul:not(#myPageBuyListHeader) {
  transition: background 0.25s ease;
}
#myPageBuyListInnerWrap ul:not(#myPageBuyListHeader):hover {
  background: #014055;
}
.myPageBuyListReview {
  position: absolute;
  right : 100px;
  margin-top: 30px;
  border: 1px solid white;
}
#myPageBuyListPaging {
  display : flex;
  justify-content: center;
  margin : 10px;
}
#myPageBuyListPaging ul {
  display : flex;
  flex-flow: row;
  margin : 0 10px;
}
#myPageBuyListPaging ul li {
  margin : 0 10px;
}
/* myPageMemberOut */
#myPageMemberOut a {
  color : white;
}
#myPageMemberOutInnerWrap {
  text-align: center;
}
#myPageMemberOutBtn {
  position: absolute;
  display: block;
  width : 100px;
  height : 30px;
  left : calc(50% - 50px);
  bottom : 10px;
  cursor: pointer;
  background-color: black;
  border: 2px solid red;
}
/* myPageMemberBanned */
#myPageMemberBanned a {
  color : white;
}
#myPageMemberBanned {
  text-align: center;
}
#myPageMemberBannedPaging {
  display : flex;
  justify-content: center;
  margin : 10px;
}
#myPageMemberBannedPaging ul {
  display : flex;
  flex-flow: row;
  margin : 0 10px;
}
#myPageMemberBannedPaging ul li {
  margin : 0 10px;
}
#myPageMemberBannedListInnerWrap {
  display : flex;
  flex-flow: column;
}
#myPageMemberBannedListInnerWrap ul {
  display : flex;
  flex-flow: column;
  width : 100%;
  height : 100%;
  justify-content: space-around;
  border-bottom: 1px solid white;
}
#myPageMemberBannedListHeader {
  font-size: 1.3em;
  padding-bottom: 20px;
}
#myPageMemberBannedListInnerWrap li:not(#myPageBuyListHeader) {
  padding-top: 20px;
}
#myPageMemberBannedListInnerWrap li:not(#myPageBuyListHeader) {
  transition: background 0.25s ease;
}
#myPageMemberBannedListInnerWrap li:not(#myPageBuyListHeader):hover {
  background: #014055;
}
#myPageMemberBannedListInnerWrap li {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
#myPageMemberBannedListInnerWrap a {
  margin-right : 100px;
}
#myPageMemberBannedListHeader a {
  margin: 40px;
}
#myPageMemberBannedBox {
  border : 2px solid white;
}
/* admin */
#myPageAdminInnerTab section {
  display : none;
}
#myPageAdminInnerTab section.active {
  display : block;
}
#myPageAdminNav ul li a{
  color : white
}
#myPageAdminNav ul li.active a {
  color : red;
}
#myPageAdminInnerTab section div {
  display : flex;
  flex-flow: column;
  border: 1px solid white;
}
#myPageAdminInnerTab section div ul {
  display : flex;
  flex-flow: row;
  justify-content:space-around;
  border-bottom: 1px solid white;
}
#myPageAdminInnerTab a {
  color : white;
  display : block;
  border : 1px solid white;
  text-align: center;
}
