@charset "utf-8";
/* 초기화 */
* {
    box-sizing: border-box;
  }
  body, ul, li, h1, h2, h3, h4, h5, p, dl, dd, fieldset, input, button, table, th, td, figure {
    margin : 0;
    padding : 0;
  }
  ul li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color : black;
  }
  address {
    font-style: normal;
  }
  fieldset, img {
    border : 0;
  }
  table {
    border-collapse :collapse;
  }
  hr {
    display: none;
  }
  .hidden {
    position: absolute;
    left : -9999px;
  }
  /* 웹폰트 - noto sans */
  body {
    font-family: 'Lato', 'Noto Sans KR', sans-serif;
  }
